/* TODO: --- Encabezado --- */

.encabezado {
  width: 100%;
  height: 350px;
  background-image: url("../img/portada1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#principalFondo {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.397);
}

#principalTitulo {
  color: $letraprincipal;
  text-shadow: 10px 10px 30px $letraprincipal;
  margin: 25px auto 20px 35px;
}
