body {
  font-family: "DM Sans", sans-serif;
}

/* TODO: --- Encabezado --- */

.encabezado {
  width: 100%;
  height: 350px;
  background-image: url("../img/portada1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#principalFondo {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.397);
}

#principalTitulo {
  color: #fff;
  text-shadow: 10px 10px 30px rgb(255, 255, 255);
  margin: 25px auto 20px 35px;
}

/* TODO:Flexbox para un segundo contenedor */

.area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.elemento {
  padding: 20px;
}

.area-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.elementoFoto {
  margin: 10px;
  padding: 10px;
  background-color: #264653;
  color: #fff;
}

.elementoFoto h3 {
  padding-bottom: 15px;
}

.fotito {
  width: 300px;
  height: 150px;
}

/* TODO: contenedor divisorio */

.franja {
  padding: 20px;
  background-color: #264653;
  color: #fff;
  margin-bottom: 80px;
}

.blanco {
  color: #000;
}

/* TODO: TARJETAS */
.fondoCard {
  background-color: #264653;
  border: 1px solid #264653;
  color: #fff;
  box-shadow: 7px 12px 20px rgba(0, 0, 0, 0.6);
}

/* TODO: botones continuar leyendo */
.leyendo {
  width: 30%;
  font-size: 18px;
  background-color: #e76f51;
  color: #fff;
  padding: 12px 20px;
  margin: 10px auto;
  border: 1px solid #e76f51;
  border-radius: 10px;
  transition: all 0.5s;
}

.leyendo:hover {
  background-color: #9e1d1d;
}
