/* ---TODO: pie de página de la página --- */

footer {
  width: 100%;
  /* height: 150px; */
  background-color: $fondoFooter;
  color: $letraprincipal;
  text-align: center;
}

/* TODO: ICONOS DE REDES SOCIALES */
.iconos {
  font-size: 2em;

  a {
    color: $letraprincipal;
    padding: 0 5px;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fff),
      to(#fff)
    );
    background-image: linear-gradient(#fff, #fff);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;

    &:hover {
      background-size: 100% 2px;
    }
  }
}
