/* TODO: Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .imagenTitulo {
    width: 44px;
    height: 44px;
  }
}

/* TODO: X-Large devices (large desktops, 1200px and up) */
// estamos probando que onda

@media (min-width: 1200px) {
  .imagenTitulo {
    width: 48px;
    height: 48px;
  }
}
